.tc-initial .question {
    color: #006;
}
.tc-related .question {
    border-bottom: 1px solid #99f;
}
.lj-target.question {
    background-color: #ddf;
}

.columns .red, .column-select .red {
    font-weight: bold;
}
.columns .primary {
    color: #030;
    font-family: Consolas, monospace;
}
.column-select .primary {
    font-family: Consolas, monospace;
}
